<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <script src="https://code.jquery.com/jquery-2.2.1.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.0/angular.js"></script>
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="style.css">
  <script src="main.js"></script>
  <title>Banking App</title>
</head>
<body ng-app="transApp" ng-controller="main-controller">
  <div class="container">

    <div class="row top-row">

      <div class="header-1">
        <h1>Banking App</h1>
      </div>

      <div class="header-2">
        <h3>Transaction Tracker</h3>
      </div>
      <div class="header-2">
        <h2>{{bank-balance | currency}}</h2>
      </div>

    </div>
    <div class="row">
      <div class="col-md-3 input-col">
        Input Description
        <input type="text" ng-model="transaction.description">
      </div>
      <div class="col-md-3">
        Input Amount
        <input type="text" ng-model="transaction.amount">
      </div>
      <div class="col-md-3">
        Input Date
        <input type="date" ng-model="transaction.date">
      </div> 
      <div class="col-md-3">
        <div class ="button-row">
         <button class ="btn" ng-click="deposit()">Deposit</button>  
         <button class ="btn" ng-click="withdraw()">Withdraw</button>  
       </div>
     </div>
   </div>

<div class="row">
   <div class="col-md-12" class ="input-col">
    <table class ="table table-hover">
      <thead>
        <tr>
          <td>
            Date
          </td>
          <td>
            Description
          </td>
          <td>
            Credit
          </td>
          <td>
            Debit
          </td>
          <td>
            Delete
          </td>
          <td>
            Edit
          </td>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="trans in transList track by $index">
          <td>
            {{trans.date}}
          </td>
          <td>
            {{trans.description}}
          </td>
          <td>
            {{trans.debit}}
          </td>
          <td>
            {{trans.credit}}
          </td>
          <td>
            <span class="glyphicon glyphicon-remove" ng-click="clickRemove()"></span>
          </td>
          <td>
            <span class="glyphicon glyphicon-edit" data-toggle="modal" data-target="#myModal" ng-click="clickEdit()"></span>
          </td>
        </tr>
      </tbody>
    </table>

    <!-- Modal -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel">Edit Transaction</h4>
          </div>
          <div class="modal-body">
            <h5>
              Date
            </h5>
            <input class ="upDate" type="text" ng-model="updatetrans.date">
            <h5>
              Description
            </h5>
            <input class ="upDesc" type="text" ng-model="updatetrans.desc">
            <h5>
              Debit Amount
            </h5>
            <input class ="upDebit" type="text" ng-model="updatetrans.debit">
            <h5>
              Credit Amount
            </h5>
            <input class ="upDebit" type="text" ng-model="updatetrans.credit">
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-primary"  data-dismiss="modal" ng-click="clickUpdate()">Save changes</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
</body>
</html>